body {
    width: 100%;
    margin: 0%;
    overflow-x: hidden;
}

p {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    color: #636466;
    font-weight: 300;
    font-size: 16px;
}

h4 {
    color: #267784;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 0px;
}

h3 {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 300;
    color: #636466;
}

h2 {
    color: #5b585a;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 35px;
}

.container-fluid {
    background-color: #e6e7e8;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1f2f2), to(#e6e7e8));
    background: -webkit-linear-gradient(top, #e6e7e8, #f1f2f2);
    background: -moz-linear-gradient(top, #e6e7e8, #f1f2f2);
    background: -ms-linear-gradient(top, #e6e7e8, #f1f2f2);
    background: -o-linear-gradient(top, #e6e7e8, #f1f2f2);
}

#intro {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

#experiencia {
    text-align: center;
}

#header {
    
}

#footer {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #5b585a;
}

.hilera-servicios {
    margin-top: 15px;
}

.hilera-servicios:last-child {
    margin-bottom: 25px;
}

.intro-servicio {
    padding-left: 75px;
    padding-right: 75px;
}

.social {
    padding-top: 15px;
    padding-left: 50px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 12px;
}

.social:last-child {
    padding-bottom: 15px;
}

.social > img {
    margin-right: 10px;
}

#header {
    height: 184px;
    background-image: url("../images/header-bkg.png");
    background-repeat: repeat-x;
}


#logo {
    padding-left: 0;
    padding-right: 30px;
}
